*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inconsolata', monospace;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-image: url(../img/photos/Fondo.png);
    background-size: cover;
    border: 0px;
    display: flex;
}

:root{
    /*Colores*/
    --white:#FFFFFF;
    --black:#000000;
    --morado: #843BE4;
    --gris: #F1EFE8;
    /*Tamaño De Letas*/
    --font-pequenio: 14px;
    --font-mediana: 16px;
    --font-grande: 20px;
    --fort-exgrande: 25px;
}

body img{
    object-fit: cover;
}

body nav {
    cursor: pointer
}

body button{
    cursor: pointer;
}

/* --- Header ----*/
header{
    background-color: var(--white);
    width: 60px;
    height: 92vh;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.hoder :nth-child(2){
    width: 15px;
    height: 15px;
}

header img{
    width: 40px;
    width: 40px;
}

.iconos-menu{
    display: flex;
}

/*Ocultar esferita de menu de navegacion*/
.mostar-icono{
    display: none;
}

.mostar-icono2{
    display: none;
}

.mostar-icono3{
    display: none;
}

.mostar-icono4{
    display: none;
}

.mostar-icono5{
    display: none;
}

.mostar-icono6{
    display: none;
}




.esfera-menu{
    width: 10px;
    height: 10px;
}


/* Main */
main{
    background-color: var(--white);
    width: 90%;
    height: 92vh;
    margin: 20px 20px 20px 0px;
    border-radius: 20px;
}


.nav-main{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 45px 15px 45px;
}

.nav-main button{
    width: 150px;
    height: 30px;
    background: var(--morado);
    border: none;
    border-radius: 15px;
    color: var(--white);
    font-size: var(--font-pequenio);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.button-nav :nth-child(2){
    margin-left: 30px;
 }

.icono-preguntas img{
    width: 50px;
    height: 50px;
}

.card-container{
    width: 90%;
    height: auto;
    margin: 0px 30px 10px 30px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: auto;
    gap: 35px;
}

.card1, .card2{
    background-color: var(--gris);
    height: 72vh;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card1 h1{
    font-size: var(--fort-exgrande);
    margin: 0 auto;
    padding-top: 40px;
    border-bottom: 2px solid var(--morado);
}

.card1 img{
    width: 70%;
    object-fit: contain;
    align-items: center;
    margin: 0 auto;
}

.container-fomulario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5, auto);
    gap: 5px;
}

.formulario{
    margin-top: 10px;
}

.formulario label{
    font-size: var(--font-mediana);
    padding-top: 10px;
    padding-left: 10px;
}

.container-fomulario li{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.container-fomulario input{
    border-radius: 15px;
    border: none;
    height: 25px;
    width: 180px;
    margin-top: 5px;
    padding-left: 10px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);;
}

.container-fomulario input:focus{
    border: 2px solid var(--morado);
}

.container-fomulario button{
    grid-area: 6 / 2;
    border: none;
    width: 180px;
    margin: 0 auto;
    padding-top: 20px;
}

.container-fomulario button p{
    display: flex;
    place-items: center;
    justify-content: space-evenly;
}

.container-fomulario button img{
    width: 30px;
}

.menuUsuario{
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: none;
    width: 150px;
    border-radius: 15px ;
    list-style: none;
    margin: 0px 10px;
    justify-content: center;
}

.flotante{
    display: none;
}

.flotante2{
    display: none;
}

/* Ocurtar la primera caratas de personas */
.invisible-persona{
    display: none;
}

.formulario-empresa{
    gap: 15px;
}

/* Estilos de Cartas Empresa */
.card2-empresas{
    display: flex;
    justify-content: center;
    align-items: center
}

.invisible-empresa{
    display: none;
}

/* Estilos de Carta Seguimiento */
.observaciones-seguimiento{
    grid-area: 1 / 1 / 2 / 3;
    width: 90%;
}
.observaciones-seguimiento input{
    width: 100%;
    height: 100px;
}

.invisible-seguimiento{
    display: none;
}

/* Estilos de Casrta De Personalizacion */
.invisible-personalizacion{
    display: none;
}

/* Estilos de Cardta Formulario Google Ads */
.img-google img:nth-child(1){
    width: 200px;
}

.img-google img:nth-child(2){
    width: 60%;
}

.card-google{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-google li{
    padding: 5px;
}


.invisible-GoogleAds{
    display: none;
}

/* Crear carta de Notas & Acciones */

/* Carta Izauqierda*/
.botones-notas{
    margin: 0 auto;
}

.button-nav-notas{
    width: 250px;
    height: 30px;
    margin: 10px;
    background-color: var(--white);
    border: none;
    border-radius: 15px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.button-nav-notas img{
    width: 30px;
    height: 30px;
}

.formualrio-notas{
    height: 180px;
    background-color: var(--white);
    border-radius: 15px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;
    background-color: var(--gris);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.formualrio-notas ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formualrio-notas ul li{
    display: flex;
    flex-direction: column;
}
.button-notas{
    width: 100px;
    height: 30px;
    background: var(--morado);
    border: none;
    border-radius: 15px;
    color: var(--white);
    font-size: var(--font-pequenio);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.formualrio-notas input{
    padding: 10px;
    height: 85px;
    width: 350px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

}

.cardIzquierda{
    background-color: var(--white);
    border: none;
    box-shadow: none;
    display: grid;
    grid-template-rows: auto;
    gap: 15px;
    margin: 0 auto;
}

/* Carta Derecha */
.noticas{
    background-color: var(--white);
    border-radius: 15px;
    width: 80%;
    height: auto;
    background-color: var(--gris);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.noticas p{
    font-size: 10px;
}

.noticas h4{
    font-size: 12px;
}

.cardDerecha{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    background-color: var(--white);
    border: none;
    box-shadow: none;
}

.noticas{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    place-items: center;
    width: 95%;
    justify-items: center;
    text-align: center;
}

.noticas :nth-child(2){
    font-size: 8px;
}

.noticas img{
    width: 10px;
}

.noticas :nth-child(3){
    grid-area: 2/1 / 2/3;
}

.noticas :nth-child(4){
    grid-area: 3/1 / 3/3;
}

.cardDerecha button{
    border: none;
    width: 180px;
    margin: 0 auto;
    padding-top: 20px;
    grid-area: 4/2;
    background-color: var(--white);
}

.cardDerecha button p{
    display: flex;
    place-items: center;
    justify-content: space-evenly;
}

.cardDerecha button img{
    width: 30px;
}

.invisible-Notas{
    display: none;
}

/* Estilo de Cartas de Línea de Tiempo */
.graficas img{
    width: 250px;
}

.graficas{
    width: 350px;
    text-align: center;
    padding-top: 10px;
    background-color: var(--gris);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.linea-tiempo h1{
    padding-top: 20px;
}

.eventos-linea{
    grid-template-rows: repeat(4,1fr);
}

.eventos-linea img{
    width: 20px;
}

.eventos-linea :nth-child(1){
    grid-area: 1/2 / 2/3;
}

.eventos-linea :nth-child(2){
    grid-area: 2/1 / 3 /4;
}

.eventos-linea :nth-child(3){
    grid-area: 3/1 / 3/3;
}

.eventos-linea :nth-child(4){
    grid-area: 4/2;
    padding-top: 5px;
}

.linea-contaner button{
    grid-area: 2/2;
}

.invisible-tiempo{
    display: none;
}