*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inconsolata', monospace;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-image: url(../img/photos/Fondo.png);
    background-size: cover;
    border: 0px;
    display: flex;
}

:root{
    /*Colores*/
    --white:#FFFFFF;
    --black:#000000;
    /*Tamaño De Letas*/
    --font-pequeñp: 14px;
    --font-mediana: 16px;
    --font-grande: 20px;
    --fort-exgrande: 25px;
}

/* --- Header ----*/
header{
    background-color: var(--white);
    width: 60px;
    height: 92vh;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.hoder :nth-child(2){
    width: 15px;
    height: 15px;
}

header img{
    width: 40px;
    width: 40px;
}

main{
    background-color: var(--white);
    width: 90%;
    height: 92vh;
    margin: 20px 20px 20px 0px;
    border-radius: 20px;
}